.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.custom_container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

/* news card */
.news_card_link {
  color: #0f0f0f;
}

.news_card_link:hover {
  color: #0f0f0f;
}

/* navbar */
nav.navbar {
  padding: 10px;
  background-color: #000 !important;
  min-height: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  border-top: 10px solid #fff;
  padding: 10px 2rem;
}

nav.navbar .nav a {
  color: #f0f0f0;
  font-size: 14px;
}

.navbar a img {
  width: 180px !important;
  filter: brightness(4);
}
